= bootstrap_form_for [@site, @deployment], html: { 'v-on': 'submit: addDeployment($event)' } do |f|
  #deploymentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "boldLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#boldLabel.modal-title Create Deployment
        .modal-body
          .form-group
            %h3 Push your site live
            = fields_for @site do |s|
              = s.label :domain_name
              = s.text_field :domain_name, placeholder: 'example.com', class: 'form-control'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.btn.btn-primary{"data-dismiss" => "modal", type: "submit", 'v-on': 'click: addDeployment($event, true)'} Deploy
